
*{
   padding: 0; 
    margin: 0;
    font-family: "roboto", sans-serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),   rgba(0,0,0,0.5)),url(%D9%84%D8%A7%D9%85%D8%A8%D8%B1%D8%AC%D8%A7%D9%86%D9%8A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.contanor{
    
    max-width: 1300px;
}

header{
    
    width: auto;
    overflow: auto;
    margin-top: 2%;
}
.logo{
    
    float: left;
}
.logo h2{
    
    color: #fff;
    margin-left: 22px;
}

nav{
    
    float: right;
}

nav ul {
    
    width: auto;
    overflow: auto;
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    padding: 5px 20px; 
} 
nav ul li:hover{
  border: 1px solid #fff;
     background: #F97F51;  
     border: 2px solid #F97F51; 
} 



nav ul .active{
 border: 1px solid #fff;
     background: #3B3B98; 
     border: 2px solid #3B3B98; 
}

nav ul li a{
    
    text-decoration: none;
    color: #fff;
    font-size: 20spx;
    padding: 5px 20px;
   
}

.text{
    
    margin-top: 18%;
}

.text h1{
    
    color: #fff;
    text-align: center;
    font-size: 100px;
}
.text h2{
    color: #fff;
    text-align: center;
    font-size: 60px;
}

.buttons{
    margin-left: 36%;
    margin-top: 22px;
    
}

button{
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    margin-right: 10px;
        
}

button a{
    text-decoration: none;
    font-size: 20px;
        color: #000;
}

.btn-1:hover{
    background: #F97F51; 
    border: 2px solid #F97F51;
}

.btn-1 a{
    color: #000;
}


.btn-2:hover{
   background: #F97F51; 
    border: 2px solid #F97F51;
    
}













